.container-personal {
    padding-top: 0.5em;
    color: aliceblue;
}

#titulo-filme {
    color: rgb(226, 233, 238);
    font-size: 1.5em;
}

.texto {
    padding-top: 1.5em;
    font-size: 1em;
    color: aliceblue;
}

.detalhes {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: aliceblue;
}

.titulo {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    align-items: baseline;
    color: aliceblue;
}

.logo {
    width: 40%;
    height: auto;
    margin-right: 1em;
    color: aliceblue;
}

.campo-pesquisa {
    display: flex;
    margin: auto;
    max-width: 50%;
    padding-top: 1em;
    color: aliceblue;
}

.search-a-movie {
    display: flex;
    margin: auto;
    max-width: 50%;
    padding-top: 1.5em;
    font-size: 2em;
    color: aliceblue;
}

#rating-filme,
#classificacao-filme {
    padding-top: 0.3em;
    font-size: 20px;
    color: aliceblue;
}

.erro {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 25px;
    color: aliceblue;
}