@media (max-width: 992px) {
    .detalhes-mobile {
        display: flex;
        flex-direction: column;
    }
    .detalhes {
        padding-top: 1em;
        font-size: 0.7;
        box-sizing: content-box;
    }
    .campo-pesquisa {
        display: flex;
        margin: auto;
        max-width: 80%;
        padding-top: 1em;
        color: aliceblue;
    }
}