.container-personal {
    padding-top: 3em;
}

.texto {
    padding-top: 1.5em;
    font-size: 1.2em;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1.5em;
    font-size: 1.2em;
}

.titulo {
    padding-bottom: 0.5em;
    font-size: 50px;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 0.8em 0;
}

.logo {
    width: 40%;
    height: auto;
    margin-right: 1em;
}

.logo h1 {
    font-size: 2em;
}

.container-footer {
    width: 90vw;
    margin: 0 auto;
}

.copyright {
    text-align: center;
    /* padding: 2em 0 0 0; */
}

.btn-outline-success {
    border: none;
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: transparent;
}

.btn-outline-success:hover {
    color: #999;
    background-color: transparent;
    border-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #212529;
    border-color: #7429b8;
    margin-right: 1em;
}

.btn-primary a,
.btn-secondary a {
    color: #fff;
    text-decoration: none;
    background-color: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #212529;
    border-color: #63388a;
}

.btn-secondary {
    color: #fff;
    background-color: #8a20ec;
    border-color: #8a20ec;
}

.btn-check:focus+.btn-outline-success,
.btn-outline-success:focus {
    box-shadow: none;
}